In [24]:
# 1. Establish a connection between Python and the Sakila database.
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

 ········

In [26]:
if "@" in password:
    password = password.replace("@", "%40")

In [28]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [30]:
from sqlalchemy import text

with engine.connect() as connection:
    query = text('SELECT * FROM actor')
    result = connection.execute(query)

result

In [32]:
# 2. Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the 
# Sakila database as a Pandas DataFrame. The function should take in three parameters:
# engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
# month: an integer representing the month for which rental data is to be retrieved.
# year: an integer representing the year for which rental data is to be retrieved.
# The function should execute a SQL query to retrieve the rental data for the specified month and year 
# from the rental table in the Sakila database, and return it as a pandas DataFrame.

def rentals_month(engine, month, year):
    with engine.connect() as connection:
        txt = '''SELECT *
        FROM rental
        WHERE MONTH(rental_date) = :month
        AND YEAR(rental_date) = :year;'''
        query = text(txt)
        result = pd.read_sql_query(query, connection, params={"month": month, "year": year})
    return result
    
rentals_month_df = rentals_month(engine, 5, 2005)
rentals_month_df

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53
...,...,...,...,...,...,...,...
1151,1153,2005-05-31 21:36:44,2725,506,2005-06-10 01:26:44,2,2006-02-15 21:30:53
1152,1154,2005-05-31 21:42:09,2732,59,2005-06-08 16:40:09,1,2006-02-15 21:30:53
1153,1155,2005-05-31 22:17:11,2048,251,2005-06-04 20:27:11,2,2006-02-15 21:30:53
1154,1156,2005-05-31 22:37:34,460,106,2005-06-01 23:02:34,2,2006-02-15 21:30:53
1155,1157,2005-05-31 22:47:45,1449,61,2005-06-02 18:01:45,1,2006-02-15 21:30:53

In [34]:
# 3. Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along 
# with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the 
# selected month and year.
# The function should also include the month and year as parameters and use them to name the new column according to 
# the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".
# Hint: Consider making use of pandas groupby()

def rental_count_month(rentals_month_df, month, year):
    with engine.connect() as connection:
        query = text(f""" SELECT customer_id, COUNT(*) AS rentals_count
                          FROM rental
                          WHERE MONTH(rental_date) = :month
                          AND YEAR(rental_date) = :year
                          GROUP BY customer_id """)
        result = pd.read_sql_query(query, connection, params={"month": month, "year": year})
        column_name = f'rentals_{month:02d}_{year}'
        result.rename(columns={'rental_count': column_name}, inplace=True)
    return result

month = 5
year = 2005
rental_counts_df = rental_count_month(engine, month, year)
print(rental_counts_df)

     customer_id  rentals_count
0              1              2
1              2              1
2              3              2
3              5              3
4              6              3
..           ...            ...
515          594              4
516          595              1
517          596              6
518          597              2
519          599              1

[520 rows x 2 columns]

In [36]:
# 4. Create a Python function called compare_rentals that takes two DataFrames as input containing the number of 
# rentals made by each customer in different months and years. The function should return a combined DataFrame 
# with a new 'difference' column, which is the difference between the number of rentals in the two months.
def compare_rentals(rentals_month_df, rental_counts_df):
    
    rentals_month_df.rename(columns={rentals_month_df.columns[1]: 'rentals_month1'}, inplace=True)
    rental_counts_df.rename(columns={rental_counts_df.columns[1]: 'rentals_month2'}, inplace=True)

    rentals_month_df['rentals'] = pd.to_numeric(rentals_month_df['rentals_month1'], errors='coerce')
    rental_counts_df['rentals'] = pd.to_numeric(rental_counts_df['rentals_month2'], errors='coerce')

    combined_df = pd.merge(rentals_month_df, rental_counts_df, on='customer_id', how='outer')
    print("Columns before renaming:", combined_df.columns)
    combined_df['difference'] = combined_df['rentals_month1'].fillna(0) - combined_df['rentals_month2'].fillna(0)

    return combined_df

comparison_df = compare_rentals(rentals_month_df, rental_counts_df)
comparison_df

Columns before renaming: Index(['rental_id', 'rentals_month1', 'inventory_id', 'customer_id',
       'return_date', 'staff_id', 'last_update', 'rentals_x', 'rentals_month2',
       'rentals_y'],
      dtype='object')

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`